
.shop-container{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 0.3fr;
}
.product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff93; 
    gap:20px;
    row-gap: 40px;
    padding: 40px;
}

.cart-container{
    background-color: #ffffff93;
    border-left: 2px solid #9c9c9c;
    padding: 20px 10px;
    background-color: #ff99009d;
}