.container{

    background-color: #1C2B35;
}


.navbar_container{
    padding:20px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;

    margin: 0 auto;
}
.logo-container{
    width: 50%;
}
.navbar{
    width: 50%;
}
.navbar ul{
    display: flex ;
    align-items: center;
    justify-content: flex-end;
}
.navbar ul li a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 10px 25px;
    transition: 0.3s ease-in-out;
}
.navbar ul li a:hover{
    color: #f1f1f1a2;
}